<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/login.css}">
    <script type="text/javascript" th:src="@{/js/loginHandler.js}"></script>
</head>
<body>
<section class="section">
    <div class="wrapper">
        <div class="logreg-box">
            <!-- 로그인 영역 -->
            <div class="form-box login">
                <div class="logreg-title">
                    <a href="/"><img src="/assets/main-logo.png" alt=""></a>
                    <p>농수산 온라인 몰</p>
                </div>
                <form action="">
                    <div class="input-box">
                <span class="icon"
                ><i class='bx bxs-envelope'></i></box-icon
                        ></span>
                        <input id="email" type="email" />
                        <label>이메일</label>
                    </div>
                    <div class="input-box">
                <span class="icon"
                ><i class='bx bxs-lock-alt'></i></box-icon
                        ></span>
                        <input id="password" type="password" />
                        <label>비밀번호</label>
                    </div>

                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox"  id="rememberMe" name="rememberMe">자동 로그인</label>
                        <a href="">이메일/비밀번호 찾기</a>
                    </div>
                    <button type="button" class="btn" onclick="login()">로그인</button>

                    <div class="logreg-link">
                        <p>회원이 아니신가요?
                            <a href="/signup">
                                회원가입
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>