<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<section class="section">
    <div class="wrapper">
        <div class="logreg-box">
            <!-- 로그인 영역 -->
            <div class="form-box login">
                <div class="logreg-title">
                    <a href="/"><img src="../resources/img/main.png" alt=""></a>
                    <p>스파로스 아카데미</p>
                </div>
                <form action="">
                    <div class="input-box">
                <span class="icon"
                ><i class='bx bxs-envelope'></i></box-icon
                        ></span>
                        <input type="email" />
                        <label for="">이메일</label>
                    </div>
                    <div class="input-box">
                <span class="icon"
                ><i class='bx bxs-lock-alt'></i></box-icon
                        ></span>
                        <input type="password" />
                        <label for="">비밀번호</label>
                    </div>

                    <div class="remember-forgot">
                        <label>
                            <input type="checkbox">자동 로그인</label>
                        <a href="">이메일/비밀번호 찾기</a>
                    </div>
                    <button type="submit" class="btn">로그인</button>

                    <div class="logreg-link">
                        <p>회원이 아니신가요?
                            <a href="/signup">
                                회원가입
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</>