<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}" />
    <script src="/js/cartHandler.js" defer></script>
</head>
<body>
<div class="cart-container">
    <div th:replace="fragment/header :: headerFragment"></div>
    <table class="cart__list">
        <form>
            <thead>
            <tr>
                <td class="select-td">선택</td>
                <td class="image-td info-td" colspan="2">상품정보</td>
                <td class="unit-price">개당 가격</td>
                <td class="cart__list__option">옵션</td>
                <td class="total-price-td">상품금액</td>
                <td class="delete-td">삭제</td>
            </tr>
            </thead>
            <tbody>
            <tr class="cart__list__detail" th:each="cartItem : ${cartItems}">
                <td class="select-td">
                    <input type="checkbox" class="cart-item-checkbox" th:data-item-id="${cartItem.item.itemId}"/>
                </td>
                <td class="image-td">
                    <img src="assets/item.png" alt="magic mouse" />
                </td>
                <td class="info-td">
                    <p th:text="${cartItem.item.name}">[애플] Magic Mouse [MK2E3KH/A]</p>
                    <span class="price" th:text="${cartItem.item.price}">88,900원</span>
                </td>
                <td class="unit-price" th:text="${cartItem.item.price}">88,900원</td>
                <td class="cart__list__option">
                    <p>상품 주문 수량: <span class="quantity" th:id="'order-quantity-' + ${cartItem.item.itemId}" >1</span>개</p>
                    <button
                            type="button"
                            class="cart__list__optionbtn"
                            onclick="openModal(this)"
                    >
                        수량 변경
                    </button>
                </td>
                <td class="total-price-td">
                    <span class="total-price" th:text="${cartItem.getTotalPrice()}"></span>
                </td>

                <td class="delete-td">
                    <button onclick="deleteRow(this)">삭제</button>
                </td>
            </tr>
            </tbody>
        </form>
    </table>
    <div class="cart__mainbtns">
        <button class="cart__bigorderbtn left" href="/">쇼핑 계속하기</button>
        <button class="cart__bigorderbtn right" onclick="createOrder()">주문하기</button>
    </div>
    <div id="quantityModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p class="quantity-label">구매 수량</p>
            <div class="quantity-control">
                <button
                        class="quantity-btn left"
                        type="button"
                        onclick="changeQuantity(-1)"
                >
                    -
                </button>
                <input type="text" id="modalQuantity" value="1" readonly />
                <button
                        class="quantity-btn right"
                        type="button"
                        onclick="changeQuantity(1)"
                >
                    +
                </button>
            </div>
            <div class="quantity-submit-box">
                <button
                        class="quantity-cancel"
                        type="button"
                        onclick="closeModal()"
                >
                    취소
                </button>
                <button
                        class="quantity-submit"
                        type="button"
                        onclick="applyQuantity()"
                >
                    적용
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>