/* modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경 회색 처리 */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 모달이 화면 중앙에 오도록 마진 조정 */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* 모달 창 너비 조정 */
    max-width: 600px; /* 최대 너비 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
