@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
    font-weight: 200;
    font-style: normal;
}
* {
    font-family: "GmarketSansMedium";
    text-decoration: none;
}
