<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>농수산 쇼핑몰</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-container">
        <div th:replace="fragment/header :: headerFragment"></div>

        <div class="grid-container">
            <div th:each="item : ${Items}" class="grid-item">
                <div class="item-image">
                    <a th:href="@{|/item/detail/${item.id}|}">
                        <img th:if="${item.profileImage != null}" th:src="${item.profileImage}" alt="" />
                        <img th:if="${item.profileImage == null}" src="/assets/item/default.png"></img>
                    </a>
                </div>
                <div class="item-details">
                    <div class="item-name" th:text="${item.name}">테스트 상품</div>
                    <div class="item-price" th:text="${item.price} + '원'">90000</div>
                </div>
            </div>
        </div>
        <div class="page-box">
            <ul class="pagination">
                <li th:class="${itemSearch.page == 1} ? 'disabled' : ''">
                    <a th:if="${itemSearch.page > 1}"
                       th:href="@{|/item/paged?page=${itemSearch.page - 1}&size=${itemSearch.size}|}">이전</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                    <a th:href="@{|/item/paged?page=${pageNumber}&size=${itemSearch.size}|}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber == itemSearch.page} ? 'active' : ''"></a>
                </li>
                <li th:class="${itemSearch.page == paging.totalPage} ? 'disabled' : ''">
                    <a th:if="${itemSearch.page < paging.totalPage}"
                       th:href="@{|/item/paged?page=${itemSearch.page + 1}&size=${itemSearch.size}|}">다음</a>
                </li>
            </ul>

        </div>
    </div>
</body>
</html>