<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.store.repository.mapper.OrderMapper">
    <resultMap id="orderResultMap" type="com.example.store.domain.Order">
        <id property="id" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderPrice" column="order_price"/>
        <result property="zipcode" column="zipcode"/>
        <result property="mainAddress" column="main_address"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="orderEnroll" column="order_enroll"/>
        <result property="orderStatus" column="order_status"/>
        <result property="totalItemCount" column="total_item_count"/>
        <result property="tid" column="tid"/>

        <collection property="orderItems" ofType="OrderItem">
            <id property="orderItemId" column="order_item_id"/>
            <result property="orderId" column="order_id"/>
            <result property="count" column="item_count"/>
            <association property="item" javaType="Item">
                <id property="itemId" column="item_id"/>
                <result property="name" column="name"/>
                <result property="price" column="price"/>
                <result property="info" column="info"/>
                <result property="itemImage" column="item_image"/>
            </association>
        </collection>
    </resultMap>

    <select id="findByUserId" resultMap="orderResultMap">
        SELECT
            o.order_id,
            o.user_id,
            o.total_price,
            o.zipcode,
            o.main_address ,
            o.detail_address ,
            o.order_enroll ,
            o.order_status ,
            o.total_item_count,
            o.tid,
            oi.order_item_id,
            oi.order_id,
            oi.item_count,
            i.item_id,
            i.name,
            i.price,
            i.info,
            i.item_image
        FROM
            orders o LEFT JOIN order_item oi ON o.order_id = oi.order_id
                     LEFT JOIN item i ON oi.item_id = i.item_id
        WHERE o.user_id = ${userId} AND (o.order_status='READY' or o.order_status='APPROVE')
    </select>

    <select id="findById" resultMap="orderResultMap">
        SELECT
            o.order_id,
            o.user_id,
            o.total_price,
            o.zipcode,
            o.main_address ,
            o.detail_address ,
            o.order_enroll ,
            o.order_status ,
            o.total_item_count,
            o.tid,
            oi.order_item_id,
            oi.order_id,
            oi.item_count,
            i.item_id,
            i.name,
            i.price,
            i.info,
            i.item_image
        FROM
            orders o LEFT JOIN order_item oi ON o.order_id = oi.order_id
                     LEFT JOIN item i ON oi.item_id = i.item_id
        WHERE o.order_id = ${orderId}
    </select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true">
       INSERT INTO orders (user_id,total_price,order_enroll,order_status,total_item_count)
       VALUES (#{order.userId},#{order.orderPrice},#{order.orderEnroll},#{order.orderStatus},#{order.totalItemCount})
    </insert>

    <update id="updateAddress">
        UPDATE orders
        SET zipcode=#{zipcode}, main_address=#{mainAddress}, detail_address=#{detailAddress}
        WHERE order_id = #{orderId}
    </update>


    <update id="updateOrderStatusById">
        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_id = #{orderId}
    </update>

    <update id="updateTotalPrice">
        UPDATE orders
        SET total_price = #{totalPrice}
        WHERE order_id = #{orderId}
    </update>

    <update id="updateTidById">
        UPDATE orders
        SET tid = #{tid}
        WHERE order_id = #{orderId}
    </update>
</mapper>