<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.store.repository.mapper.PaymentMapper">
    <resultMap id="paymentResultMap" type="com.example.store.domain.Payment">
        <id property="paymentId" column="payment_id"/>
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="itemName" column="item_name"/>
        <result property="tid" column="tid"/>
        <result property="aid" column="aid"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="quantity" column="quantity"/>
        <result property="vat" column="vat"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="createdAt" column="created_at"/>
        <result property="approvedAt" column="approved_at"/>
    </resultMap>

    <select id="findByTid" parameterType="java.lang.String" resultMap="paymentResultMap">
        SELECT payment_id,order_id,user_id,item_name,tid,aid,total_amount,quantity,vat,payment_method,created_at,approved_at
        FROM payment
        WHERE tid=#{tid}
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="paymentResultMap">
        SELECT payment_id,order_id,user_id,item_name,tid,aid,total_amount,quantity,vat,payment_method,created_at,approved_at
        FROM payment
        WHERE payment_id=#{paymentId}
    </select>

    <select id="getList" resultMap="paymentResultMap" >
        SELECT * FROM payment WHERE user_id = #{userId} AND approve_at BETWEEN #{start} AND #{end}
    </select>

    <select id="findByUserId" resultMap="paymentResultMap" >
        SELECT * FROM payment WHERE user_id = #{userId}
    </select>

    <select id="findByOrderId" resultMap="paymentResultMap" >
        SELECT * FROM payment WHERE order_id = #{orderId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO payment (order_id,user_id,item_name,tid,aid,total_amount,quantity,vat,payment_method,created_at,approved_at)
        VALUES (#{orderId}, #{userId},#{itemName} ,#{tid}, #{aid}, #{totalAmount}, #{quantity},
                #{vat}, #{paymentMethod}, #{createdAt}, #{approvedAt})
    </insert>

    <delete id="deleteAll">
        DELETE FROM payment
    </delete>
</mapper>