<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.store.repository.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="telNumber" column="tel_number" />
        <result property="zipcode" column="zipcode"/>
        <result property="mainAddress" column="main_address"/>
        <result property="detailAddress" column="detail_address"/>
        <collection property="roles" ofType="string" column="user_id" select="findRoleByUserId"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="userMap">
        SELECT * FROM user WHERE user_id=#{id}
    </select>

    <select id="findByEmail" parameterType="java.lang.String" resultMap="userMap">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findByEmailAndPassword" parameterType="java.lang.String" resultMap="userMap">
        SELECT * FROM user WHERE email = #{email} AND password = #{password}
    </select>

    <select id="findRoleByUserId" resultType="string">
        SELECT role FROM user_roles WHERE user_id = #{userId}
    </select>

    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(email,password,name,tel_number,zipcode,main_address,detail_address)
        VALUES(#{email}, #{password}, #{name}, #{telNumber}, #{zipcode}, #{mainAddress}, #{detailAddress})
    </insert>

    <insert id="saveUserRole">
        INSERT INTO user_roles (user_id, role)
        VALUES (#{userId}, #{role})
    </insert>

    <update id="update" parameterType="User">
        UPDATE user
        SET password=#{password},
            tel_number=#{telNumber},
            zipcode=#{zipcode},
            main_address=#{mainAddress},
            detail_address=#{detailAddress}
        WHERE user_id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE from user
        WHERE user_id=#{id}
    </delete>

    <delete id="deleteAll">
        DELETE from user
    </delete>


</mapper>